<div class="about-me">
    <div class="row align-items-center">
        <div class="col-md-4 col-sm-12 text-center">
            <img src="/images/photographer.jpg" alt="Round Image" class="rounded-circle img-fluid custom-image">
        </div>
        <div class="col-md-8 col-sm-12">
            <p>Sunt fotograf pasionat de surprinderea momentelor autentice și emoționante. Am avut plăcerea de a lucra cu oameni minunați la evenimente precum nunți, botezuri și aniversări, fiecare cadru fiind o poveste unică. Scopul meu este să captez bucuria și emoțiile sincere care transformă momentele în amintiri prețioase.</p>

            <p>Cred că fotografia este mai mult decât tehnică – este despre a simți momentul și a-l transforma într-o imagine care să rămână peste timp. Fiecare client este diferit, așa că îmi place să ascult și să înțeleg dorințele și stilul fiecăruia, pentru a crea fotografii care să reflecte personalitatea și esența fiecărui eveniment.</p>

            <p>Ca persoană, sunt dedicat, punctual și foarte atent la detalii. Îmi place să creez o atmosferă relaxată în timpul ședințelor foto, pentru ca toată lumea să se simtă natural în fața camerei.</p>

            <p>Dacă îți dorești un fotograf care să surprindă esența momentelor speciale din viața ta, sunt aici să transformăm împreună aceste clipe în amintiri vizuale de neuitat.</p>
        </div>
    </div>
</div>