html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Întreaga înălțime a viewport-ului */
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asigură că wrapper-ul ocupă întreaga înălțime */
  }
  
  main {
    flex: 1; /* Secțiunea principală se extinde */
  }